body {
	font-family: "Pretendard-Regular";
}
hr{
	color: black!important;
}
header {
	width: 100%;
}

footer {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  position: relative !important;
}

.h2.title {
	padding-bottom: 10px;
}

.main-container {
	display: flex;
}

.container.mt-5 {
	margin-top: 0 !important;
	margin-bottom: 50 !important;
}

.img-thumbnail {
	max-width: 100px !important;
	height: auto !important;
}

.menu-item:first-of-type a {
	color: #333;
	font-weight: bolder;
}

.content-section {
	padding: 20px 100px 0 80px;
	margin-bottom: 200px;
}

.product-insert-title {
    font-weight: bold;
   	width:1140px;
   	display:block;
	color: #333;
    font-size: 26px;  
	margin-bottom: 24px;
}

.product-insert-box {
	width:100%;
	border-bottom: 3px solid #000;
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
}

.form-select, .form-control:first-of-type {
    width: 100%;
}

.d-flex .form-select {
    flex: 1;
}

.me-2 {
    margin-right: 0.5rem;
}

.btn {
    width: 100%;
}

.d-flex {
    justify-content: flex-end;
    margin-bottom: 20px;
}

.d-flex .form-control {
    width: auto;
    max-width: 200px;
}

.d-flex .btn-dark {
    width: auto;
    max-width: 100px;
}

.search-bar .form-control {
    height: 36px;
    font-size: 14px;
}

.table-responsive {
	margin-top: 30px;
}

.search-bar .btn-dark {
    height: 36px;
    font-size: 14px;
}

#form-status {
	width: 130px;
}

#form-img {
	width: 220px;
}

.page-container {
	margin-top: 20px;
	border: none;
	width: 100%;
}

.page-link {
  margin: 0px 0px 0px 0px;
}
.page-link {
  border: none !important;
  color: gray !important;
  cursor: pointer !important;
}
.pagination .page-item.active .page-link {
  color: black !important;
  background-color: white !important;
}
