body {
    font-family: "Pretendard-Regular";
}

.product-insert-title {
    display: block;
    color: #333;
    font-size: 26px;
    margin-bottom: 24px;
    font-weight: bold;
}

.product-insert-box {
    width: 1140px;
    border-bottom: 3px solid #000;
    margin-bottom: 20px;
}

.form-group, .product-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group span, .product-group label {
    min-width: 100px; 
    margin-right: 10px; 
}

.form-control, .team-insert-list, .product-kind-insert {
    flex: 1;
    max-width: 100%; 
}

#insertForm {
    margin-top: 50px;
    width: 800px;
}

#insertForm span {
    font-size: 20px; 
    font-weight: 600;
}

#insertForm select {
    height: 36px;
    border-radius: 8px;
    margin-right: 10px;
}

.team-insert-list {
    margin-right: 20px;
    width: 200px;
}

.product-group input {
    flex: 1;
    height: 36px;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    margin-top: 40px;
}

.action-buttons button {
    width: 100%; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.preview-button {
    background-color: white;
    border: 1px solid black !important;
}

.save-button {
    background-color: black;
    color: white;
    margin-bottom: 200px;
}
