hr {
	color: black;
}

.main-container {
	color: black;
	display: flex;
}

#heartlist-container {
	width: 1140px;
	padding: 20px 0 0 80px;
	margin-bottom: 200px;
}

.product-insert-title {
	width: 1140px;
    font-weight: bold;
    width: auto;
    display: inline-block; 
    color: #333;
    font-size: 26px;  
    margin: 0; 
}

.heart-list-section {
	border-bottom: 1px solid black;
	overflow: hidden;
	height: 148px;
	display: flex;
	justify-content: space-between;
}

.heart-list {
	margin-top: 26px;
	display: flex;
}

.heart-delete-all {
	width: 132px;
	height: 30px;
	border: none;
	font-weight: 600;
	background-color: #000;
	color: #fff;
	margin-right: 0px;
}

.heart-title-box {
	border: none;
	border-bottom: 3px solid #000;
	padding-bottom: 24px;
	justify-content: space-between;
	display: flex;
}

.heart-img {
	width: 100px;
	height: 100px;
	margin-right: 28px;
	margin-bottom: 28px;
}

.heart-info {
	width: 600px;
	margin-top: 20px;
}

.heart-btns {
	text-align: right;
	width: 184px;
	margin-top: 5px;
	font-size: 12px;
	align-self: center;
}

.btn-to-cart {
	width: 160px;
	height: 32px;
	margin-bottom: 15px;
	background-color: #fff;
	border: 1px solid black;
}

.btn-heart-delete {
	width: 160px;
	height: 32px;
	background-color: #333333;
	color: #fff;
}

.menu-item:last-of-type a {
	color: #333;
	font-weight: bolder;
}