body {
	font-family: 'Pretendard-Regular';
}

hr {
	color: black;
}

.main-container {
	color:black;
	display: flex;
}

.product-insert-title {
	font-weight: bold;
	width: 920px;
	display: block;
	color: #333;
	font-size: 26px;
	margin-bottom: 24px;
}

.product-insert-box {
	width: 920px;
	border-bottom: 3px solid #000;
	margin-bottom: 24px;
}

.member-information {
	width: 1000px;
	padding: 20px 160px 0 80px;
	margin-bottom: 200px;
}

.membership board {
	width: 478px;
	height: 751px;
}

.member-id, .member-password, .member-password-again, .member-name,
	.member-phone-number, .member-address, .member-email {
	font-weight: bold;
	font-size: 15px;
	height: 68px;
	width: 450px;
	position: relative;
}

.form-control {
	border: none !important;
	border-bottom: 1px solid #ebebeb !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	height: 40px !important;
	font-size: 16px !important;
	margin-bottom: 24px !important;
}

.message {
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    right: 20px;
    top: 30px;
    font-weight: normal;
}

.form-control:focus {
	border-color: #333333 !important;
	box-shadow: none !important;
	outline: none !important;
}

.searchAddress {
    margin-top: 0px;
    background-color: #333333;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    width: 88px;
    height: 32px;
    border-radius: 16px;
    line-height: 16px;
    position: absolute;
    right: -100px;
    top: 23px;
}

.btnMember {
	width: 404px;
	height: 64px;
	border: none;
	color: #ffffff;
	background-color: #000000;
	border-radius: 14px;
	margin-top: 96px;
}

.btnMember:disabled {
    background-color: #ebebeb;
    color: #ffffff;
	cursor: not-allowed;
}

.withdrawal-btn {
	color: #d81d2e;
	background-color: white;
	border: none;
	padding: 0px 0px 0px 160px;
	margin-top: 20px;
	margin-bottom: 200px;
}

.menu-item:nth-of-type(2) a {
	color: #333;
	font-weight: bolder;
}