@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.footer-body {
  color: #ffffff;
  font-family: "Pretendard-Regular";
}

.footer-container {
  background-color: #333333;
  padding: 20px;
}

.footer-container .col-logo {
  flex: 0 0 200px;
  max-width: 200px;
}

.footer-container .col h5 {
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-container .nav-link {
  color: #cccccc;
  font-size: 14px;
}

.footer-container .nav-link:hover {
  color: #ffffff;
}

.footer-container .col img {
  width: 250px;
  height: 75px;
  margin-bottom: 10px;
}

.footer-container .text-muted {
  color: #cccccc !important;
}
