html {
  width: 1728px;
  margin: 0 auto;
  caret-color: transparent;
}
#header-body {
  text-align: center;
  min-width: 1280px;
}
.members {
  display: flex;
  justify-content: flex-end;
  margin: 24px 0;
  padding-right: 80px;
}
.members a {
  text-decoration: none;
  color: #333333;
}
.login {
  margin-right: 16px;
}
.logo-icons-section {
  display: inline-block;
  width: 100%;
}

.logo-div,
.icons {
  display: inline-block;
  vertical-align: middle;
}

.logo-div img {
  width: 250px;
  height: 74px;
  margin-left: 240px;
  margin-bottom: 64px;
}

.icons {
  float: right;
  margin-right: 60px;
  margin-top: 20px;
  position: relative;
}

.icons a {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  display: inline-block;
}

.icons img {
  width: 34px;
  height: 30px;
  margin-right: 16px;
}

.icons span {
  font-weight: bold;
  font-size: 16px;
  padding-right: 16px;
}

.cart-badge {
  position: absolute;
  right: 20px;
  top: -8px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 22px;
  padding-left: 8px;

  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
