nav {
  text-align: center;
  margin-bottom: 44px;
}
nav a {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  margin: 0 72px;
}

.navbar-container {
	margin: 0 auto;
	padding: 0 100px;
}

.dropdown .dropdown-toggle {
	font-size: 24px;
	font-weight: bolder;
}

.dropdown .dropdown-toggle .bi-list {
	padding-right: 10px;
	font-size: 26px;
}

.dropdown .dropdown-toggle::after {
   display: none; /* 화살표 숨기기 */
}

