#head-nav {
  text-align: center;
  font-size: 19px;
  margin-bottom: 10px;
}

#head-nav a:not(li a) {
  color: #333333;
  text-decoration: none;
  margin: 0 65px;
}

#head-nav button, #head-nav a {
	font-weight: bold;
}

.navbar-container {
	margin: 0 auto;
	padding: 0 200px;
}

.categorys .dropdown-toggle {
	font-size: 19px;
	font-weight: bolder;
}

.categorys .dropdown-item {
	text-align: center;
    padding: 5px 0;
}

.categorys .dropdown-toggle .bi-list {
	padding-right: 8px;
	font-size: 21px;
}

.categorys .dropdown-toggle::after {
   display: none;
}

.categorys #dropdownMenuButton {
	padding-left: 0;
}

.searchBox {
	width: 280px;
	margin-left: 20px;
}

.searchBox .bi-search {
	font-size: 17px;
	color: #343a40;
	padding-right: 3px;
}

.searchBox form {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px;
}

.searchBox .form-control.me-2 {
  border: none;
  width: 240px;
}

.searchBox .search-btn {
  border: none;
  background: white;
}