@charset "UTF-8";

hr{
	color:black;
}

.notice-insert-title {
    display: block;
    color: #333333;
    font-size: 26px;
    margin-bottom: 24px;
    font-weight: bold;
}

.notice-insert-box {
    width: 1300px;
    border-bottom: 3px solid #000;
    margin-bottom: 20px;
}
.container{
	margin:50px auto;
	justify-content: center; 
    align-items: center; 
    border:none;
}
table {
  border-collapse: separate; 
  border-spacing: 15px;
  width: 100%; 
}

table th, table td {
  border: none; 
  padding: 10px; 
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray; 
  text-decoration: none;
}

.btn-writenotice {
margin-top: 20px;
  display: inline-block;
  padding: 10px 15px;
  font-size: 13px; 
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  text-align: center;
}

.btn-writenotice {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 15px;
  font-size: 13px; 
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  text-align: center;
}

.page-link {
  margin: 0px 0px 0px 0px;
}
.page-link {
  border: none !important;
  color: gray !important;
  cursor: pointer !important;
}
.pagination .page-item.active .page-link {
  color: black !important;
  background-color: white !important;
}