@charset "UTF-8";

hr {
	color: black;
}
.form-group{
	color: black;
	font-weight:bold;
}

.notice-insert-title {
	display: block;
	color: #333333;
	font-size: 26px;
	margin-bottom: 24px;
	font-weight: bold;
}

.notice-insert-box {
	width: 1300px;
	border-bottom: 3px solid #000;
	margin-bottom: 20px;
}

.container {
	margin: 50px auto;
	justify-content: center;
	align-items: center;
	border: none;
}

.input-group-prepend{
	background: white;
}

input#noticeTitle, textarea#noticeContent {
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	margin-top:10px;
}

textarea#noticeContent {
	height: 200px;
}

.btn-write, .btn-list {
	margin-top: 20px;
	display: inline-block;
	padding: 8px 12px;
	font-size: 13px;
	background-color: #333333;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
}

.btn-container {
	text-align: right;
	margin-top: 20px;
}
