body {
	font-family: "Pretendard-Regular";
}

header {
	width: 100%;
}

footer {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  position: relative !important;
}

.h2.title {
	padding-bottom: 10px;
}

.main-container {
	display: flex;
}

.container.mt-5 {
	margin-top: 0 !important;
	margin-bottom: 50 !important;
}

.img-thumbnail {
	max-width: 100px !important;
	height: auto !important;
}

.menu-item:first-of-type a {
	color: #333;
	font-weight: bolder;
}

.content-section {
	padding: 20px;
}