@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PresicavHv';
    src: url('/common/font/PresicavHv-Regular') format('ttf');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'PresicavHv';
    color: black !important;
}

.findidpage-container {
    font-family:'Pretendard-Regular';
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header, footer {
    width: 100%;
}

.findid-container {
    width: 13cm;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

.findid-container h1 {
    margin-bottom: 20px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
    padding: 0 20px;
    color: black;
}

.form-control {
    width: 100% !important;
    padding: 10px 15px !important;
    margin-top: 5px !important;
    border: none !important;
    border-bottom: 1px solid #EBEBEB !important;
    box-sizing: border-box !important;
    border-radius: 0 !important;
    background-color: white !important; 
    color: black !important; 
}

.form-control:focus {
    background-color: white !important; 
    color: black !important; 
    box-shadow: none !important;
    outline: none !important;
    border-bottom: 2px solid #333333 !important;
}


.findid-btn:disabled{
    width: calc(100% - 40px);
    padding: 13px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 18px;
    cursor: not-allowed;
    background-color: #EBEBEB;
    color: #333333;
    border: none;
}

.findid-btn {
    width: calc(100% - 40px);
    padding: 13px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #333333;
    color: white;
    border: none;
}


.options {
    display: flex;
    justify-content: center;
    gap: 2cm;
    font-size: 14px;
    margin-top: 15px;
    font-weight: bold;
    padding: 0 20px;
}

.options a {
    text-decoration: none;
    color: #333333;
}
